body {
    background-color: #f6f6f6;
}

.header {
    padding-bottom: 100px;
}

.bg1 {
    background: url(/img/background2.png) no-repeat;
    background-size: cover;
}

.footer {
    margin-top: 30px;
}

.footer .social-links {
    margin-top: 0;
}

.i-decor {
    color: #434242;
    font-family: Century Gothic, Bold;
}

.i-decor .title {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 100px;
}

.i-decor .title h1 {
    text-transform: uppercase;
}

.i-decor .title h1, h3 {
    font-weight: bold;
}

.i-decor .title .line2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.i-decor .title h3 {
    margin-bottom: 0;
}

.i-decor .decor-text p {
    margin-bottom: 0;
    font-size: 15px;
}

.i-decor .decor-text p.text-title {
    font-weight: bold;
}

.tdu {
    text-decoration: underline;
}

.i-decor .decor-order .title {
    text-align: center;
    color: #434242;
    padding-top: 60px;
    margin-bottom: 30px;
}

.i-decor .decor-order .title h5 {
    font-weight: bold;
}

.i-decor .decor-order p {
    font-size: 15px;
}

.i-decor .decor-order .photos {
    margin-top: 50px;
}

.i-decor .decor-order .photos .item {
    text-align: center;
}