body {
    background-color: #f6f6f6;
}

.header {
    padding-bottom: 100px;
}

.bg1 {
    background: url(/img/background2.png) no-repeat;
    background-size: cover;
}

.footer {
    margin-top: 30px;
}

.footer .social-links {
    margin-top: 0;
}

.bshop {
    color: #434242;
}

.bshop .title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 60px;
}

.bshop .title h1 {
    font-weight: bold;
}

.bshop .items .item .line2 {
    margin-top: 0;
    margin-bottom: 70px;
}

.bshop .items .item {
    padding-bottom: 70px;
}

.bshop .items .item .images .big-image {
    text-align: center;
}

.bshop .items .item .images .small-images img {
    margin-bottom: 15px;
}

.bshop .items .item .images .small-images img:last-child {
    margin-bottom: 0;
}

.bshop .items .item .info .item {
    padding-bottom: 0;
    margin-bottom: 60px;
}

.bshop .items .item .info .item:last-child {
    margin-bottom: 0;
}

.bshop .items .item .info .item h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}

.bshop .items .item .info .item p {
    text-align: left;
}

.bshop .items .item .info .services {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    column-count: 2;
}

.bshop .items .item .info .services.cc1 {
    column-count: 1;
}

@media (max-width: 768px) {
    .bshop .items .item .info .services {
        column-count: 1;
    }
}

.bshop .items .item .info .services .service-item::before {
    content: '';
    width: 19px;
    height: 19px;
    background-image: url(/img//circle_1.png);
    background-repeat: no-repeat;
    background-size: 19px 19px;
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 3px;
}

.bshop .items .item .info .services .service-item .prices {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 26px;
}

.bshop .items .item .info .services .service-item .prices li {
    display: inline-block;
}

.bshop .items .item .info .services .service-item .prices .price {
    color: #316eff;
    margin-right: 30px;
}

.bshop .items .item .info .services .service-item .prices .sale-price {
    text-decoration: line-through;
}

.bshop .items .item .info .services .service-item button {
    background-color: #5b5b5b;
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    width: 50%;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 26px;
}

.bshop .items .item .info .services.cc1 .service-item button {
    width: 25%;
}

.contacts {
    padding-top: 800px;
}